* {
  box-sizing: border-box;
}
body {
  position: relative;
}
.pagewrap {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  &:after {
    @include clearfix;
  }
}
.gallery:after {
  @include clearfix;
}
.gallery-gif {
  display: block;
  float: left;
  width: 50%;
  padding-top: 50%;
  background-position: center;
  background-size: cover;
  &:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 568px) {
  .gallery-gif {
    width: 25%;
    padding-top: 25%;
  }
}
.gallery-lb-bg .gallery-gif {
  float: none;
  margin: 4em auto 2em;
}
