* {
  box-sizing: border-box;
}
body {
  position: relative;
}
.pagewrap {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  &:after {
    @include clearfix;
  }
}
.gallery:after {
  @include clearfix;
}
.gallery-gif {
  display: block;
  float: left;
  padding-top: 25%;
  width: 25%;
  background-position: center;
  background-size: cover;
}
