.input-search {
  color: $color-gray;
  padding: .5em 1em;
  display: inline-block;
  margin: .5em auto;
  border: 1px solid $color-light-gray;
  border-radius: 0;
  &:focus {
    outline: none;
  }
}
.btn-search {
  display: inline-block;
  padding: .5em 1em;
  border-radius: 0;
  margin: .5em auto;
  border: 1px solid $color-light-gray;
  background-color: $color-white;
  color: $color-gray;
  font-weight: normal;
  text-transform: capitalize;
  &:hover {
    background-color: $color-light-gray;
  }
  &:focus {
    outline: none;
  }
}
