.input-search {
  color: gray;
  padding: .5em;
  display: block;
  margin: .5em auto;
  border: 1px solid lightgray;
  border-radius: 18px;
}
.btn-search {
  display: block;
  padding: .5em;
  border: 0;
  border-radius: 18px;
  margin: .5em auto;
  background-color: limegreen;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
