// Typography
$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Colors
$color-blue: #1565c0;
$color-black: #333;
$color-dark-gray: darkgray;
$color-gray: gray;
$color-light-gray: lightgray;
$color-white: white;

// Font Colors
$color-font: $color-dark-gray;

//mixins

@mixin clearfix {
  display: table;
  content: '';
  clear: both;
}
